.my-navbar{
	background-color:#FFA726;
}
nav{
	background-color:#FFA726;
}
*{
	box-sizing: border-box;
	padding: 0px;
}
.form-group1{
	
	margin:auto;
	margin-top: 70px;
	clear: both;
	width: 60%;
}
.form-group{
	
	margin:auto;
	margin-top: 20px;
	clear: both;
	width: 60%;
}
.form-check{
	margin:auto;
	width: 60%;
}
button{
	margin-left: 1000px;
	background-color:#FFA726;
	color: #fff;
	margin-bottom: 20px;

	}
